.logo {
    max-width: 100%; /* Логотип будет занимать максимум 100% ширины родительского контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-right: 1vw; /* Отступ справа в единицах ширины экрана */
    margin-top: 1vw; /* Отступ сверху в единицах ширины экрана */
}

/* Медиазапросы для различных размеров экранов */
@media (max-width: 768px) {
    .logo {
        max-width: 80%; /* Уменьшить ширину логотипа на меньших экранах */
        margin-top: 3vw; /* Увеличить отступ сверху */
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 70%; /* Еще больше уменьшить ширину логотипа */
        margin-top: 4vw; /* Еще больше увеличить отступ сверху */
    }
}