<!-- templates/myapp/about.html -->
{% extends 'myapp/base.html' %}

{% block content %}
<div>
    <h3>О Лиге чемпионов УЕФА</h3>
    <p>Лига чемпионов УЕФА (англ. UEFA Champions League) — ежегодный международный турнир по футболу, организованный Союзом европейских футбольных ассоциаций (УЕФА) среди клубов высших дивизионов в Европе.</p>
    <p>Самый престижный европейский клубный футбольный турнир. Со своего первого розыгрыша в сезоне 1955/56 и по сезон 1991/92 назывался «Кубком европейских чемпионов» (англ. European Champion Clubs' Cup). В сезоне 1991/92 был изменён формат турнира и после стадии 1/8 финала игрались групповые турниры. Тогда же появились гимн и эмблема. С сезона 1992/93 турнир получил своё нынешнее название.</p>
    <p>Победителем турнира становились 22 клуба, 12 из них выигрывали турнир более одного раза. Испанские клубы одерживали в турнире 20 побед. Рекордсменом по числу выигранных титулов является «Реал Мадрид», побеждавший в турнире 15 раз. С момента смены названия и формата турнира в 1992 году только «Реал Мадрид» смог выиграть Лигу чемпионов на протяжении трёх сезонов подряд (2015/2016, 2016/2017, 2017/2018). «Реал Мадрид» является клубом, который наибольшее количество раз выиграл Лигу чемпионов после смены формата — 9 раз.</p>
    <p>Действующим победителем турнира является испанский «Реал Мадрид», завоевавший свой 15-й трофей в сезоне 2023/24.
</div>
{% endblock %}